<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../stylesheets/style.css" />
  <title><%= title %></title>
 </head>
 <body>
  <header><h1>Roger's Sports Shop</h1></header>
  <div class="productDetail">
   <h2><%= title %></h2>
   <img src="<%= img %>" />
   <div><%= details %></div>
   <b><%= price %></b>
   <hr />
   <br />
   <a href="../home">All Products</a>
  </div>
 </body>
</html>
