<!DOCTYPE html>
<html lang="en">
 <head>
  <%- include('partials/head'); %>
 </head>
 <body class="container">
  <header><%- include('partials/header'); %></header>

  <!-- Page content -->
  <div class="w3-content" style="max-width: 2000px; margin-top: 46px">
   <%- include('partials/slideshow'); %>

   <div
    class="w3-container w3-content w3-center w3-padding-64"
    style="max-width: 800px"
    id="skills"
   >
    <h2 class="w3-wide">FATHER SKILLS</h2>
    <h3><%= time %></h3>
    <% skills.forEach(x => {%>
    <li>
     <a href="skills/<%=x.id%>"><%=x.name%></a>
     <form action="/skills/<%=x.id%>?_method=DELETE" class="delete-form" method="POST">
      <button type="submit">X</button>
     </form>
    </li>
    <%})%>
   </div>
  </div>

  <footer><%- include('partials/footer'); %></footer>
 </body>
</html>
